<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debating ChatBot</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="chat-container">
     
        <div class="ai-chat-box">
        <img src="/ai.jpeg" alt="" id="aiImage" width="70">
        <div class="ai-chat-area">
            Hello ! Let's start the debate.
            <br>
            Example: "The topic is Social Media and I am speaking for it."
        
            <img src="" alt="" class="load" width="50px">
        </div>

        </div>

    </div>
    <div class="prompt-area">
        <input type="text" id="prompt" placeholder="Enter debate topic and your stance (for/against)...">
        <button id="submit"><img src="/image.png" alt="submit_btn"></button>
        
    </div>
   
    <script src="/script.js"></script>
</body>
</html>